// fonts
@font-face {
    font-family: Pavanam-Regular;
    src: url('../../assets/fonts/Pavanam/Pavanam-Regular.ttf');
}

@font-face {
    font-family: Andika-regular;
    src: url('../../assets/fonts/Andika/AndikaNewBasic-Regular.ttf');
}

@font-face {
    font-family: Andika-bold;
    src: url('../../assets/fonts/Andika/AndikaNewBasic-Bold.ttf');
}
