.contact-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .side-info-container{
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;
  
      img{
        width: 60px;
      }
    }
    i{
      color: blanchedalmond;
      cursor: pointer;
    }
  }
  