<div class="contact-preview-container main-layout full">
    <div class="contact-preview main-layout">
        <div [routerLink]="['/contact',contact._id]" >
            <div class="side-info-container">
                <div class="img-container">
                    <img class="user-img" [src]="contact.imgUrl" alt="">
                </div>
                <div class="user-info">
                    <p>{{contact.name}}</p>
                    <h4>{{contact.phone}}</h4>
                </div>
            </div>
        </div>
        <!-- <button (click)="onDeleteContact()">Delete contact</button> -->
        <i (click)="onDeleteContact()" class="fas fa-times"></i>
    </div>
</div>
