<section class="contacts-page">
    <div class="contact-app">
        <app-contacts-filter></app-contacts-filter>
        <ng-template #noContacts>
            <div class="main-layout no-contacts-to-show-title">
                <h1>No contacts to show</h1>
            </div>
        </ng-template>
        <div class="main-layout">
            <a class="add-contact-btn btn btn-primary" routerLink="/edit"><i class="fas fa-plus"></i></a>
        </div>
        <div class="transfer-moves-container">
            <app-contact-list *ngIf="(contacts$ | async).length !== 0; else noContacts" [contacts]="contacts$ | async" (onDeleteContact)="deleteContact($event)"></app-contact-list>
        </div>
    </div>
   
</section>
