.contacts-page{
    position: relative;
    .contact-app{
        display: flex;
    flex-direction: column;
    gap: 13px;

    .no-contacts-to-show-title{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    }
    .add-contact-btn{
        position: fixed;
        bottom: 38px;
        right: 31px;
        border-radius: 50%;
        i{
            color: white;
        }
    }
}