.nav-container{
    nav{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            font-weight: bold;
        }
    }
    .user-nav-btns{
        display: flex;
        gap: 12px;
        font-size: 15px;
    }
}