
.edit-form-container{
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    .img-container{
        display: flex;
        justify-content: center;
        .edit-form-img{
            border-radius: 50%;
            max-width: 130px;
        }
    }
    .edit-form{
        display: flex;
        flex-direction: column;
        gap: 11px;
        min-width: 320px;
        .btn-section{
            display: flex;
        justify-content: flex-end;
        button{
            width: 110pxs;
        }
        }
    }
}