<div class="contact-details text-center main-layout">
    <div class="mini-app-header">
        <a [routerLink]="['/edit',contact._id]">Edit</a>
        <a routerLink='/contacts'>Back</a>
    </div>
    <img class="user-img" [src]="contact.imgUrl" alt="contact-avatar">
        <p>{{contact.name}}</p>
        <p>{{contact.email}}</p>
        <p>{{contact.phone}}</p>
    <div class="transfer-section">
        <app-transfer-fund (onCreateTransfer)="onTransfer($event)"></app-transfer-fund>
    </div>
    <div class="move-list-section">
        <app-move-list *ngIf="userMoves" [isContactNameNeedsToRender]="false" [userMoves]="userMoves"></app-move-list>
    </div>
    
</div>
