// Colors
$clr1: #eb4c71;
$clr2: #5a6c7a;
$clr3: #fff;
$clr4: #0b0e13;
$clr5: #ee7d98;
$clr6: #f31717;
$clr7: #f76767;


$navHeight: 65px;


// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 600px;
$break-wide: 600px;
$measurement: 0.125em;